<!DOCTYPE html>

<head>
    <title>Juan Pablo Aquila</title>
    <link href="../static/css/promocion.css" rel="stylesheet" type="text/css"/>

</head>
<body>

    <div id="contenedorTotal">
        <header>
<!--            <img width="550px" height="200px" src="../static/img/jp centrado.jpg""/>-->
        </header>
        <nav>
            <ul>
                <br>
                <li><a class="navColor" href="#">HOME</a></li>
                <li><a class="navColor" href="#">SOBRE MI</a></li>
                <li><a class="navColor" href="#">PORTFOLIO</a></li>
                <li><a class="navColor" href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <div id="nosotros">
            <br>
            <h1>SOBRE MI</h1>
            <hr>
            <br>
            <p>Mi nombre es Juan Pablo Aquila. Actualmente acabo de terminar un curso de más de 500 horas en el cual me habilita como fullstack developer, y un curso de Testing QA. </p>
            <br>
            <h2>POR QUE ELEGIRME</h2>
            <p>Además de mis conocimientos técnicos, soy unn apasionado del arte de enseñar y aprender. Me capacito constántemente en todo lo que encaro,
                y con 38 años de edad, no dejo de incursionar y absorver más y más conocimientos. </p>
            <p>Por otro lado, poseo habilidades blandas muy desarrolladas, tales como una buena comunicación, empatía, trabajo en equipo, capacidad de conducción y liderazgo, entre otras. </p>
            <br>
            <div class="cuadro" id="arribaizq">
                <h4>SER LA DIFERENCIA</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellat unde,</p>
            </div>
            <div class="cuadro" id="arribader">
                <h4>CALIDAD</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellat unde,</p>
            </div>
            <div class="cuadro" id="abajoizq">
                <h4>DAR SOLUCIONES</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellat unde,</p>
            </div>
            <div class="cuadro" id="abajoder">
                <h4>ENTENDEMOS TU NECESIDAD</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellat unde,</p>
            </div>
        </div>
        <div id="proyectosRecientes">
            <h1>PROYECTOS RECIENTES</h1>
            <hr>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit ullam nos.</p>
            <br>
            <img width="185px" height="100px" src="imagenes/mr.jpg"/>
            <img width="185px" height="100px" src="imagenes/rco.jpg"/>
            <img width="185px" height="100px" src="imagenes/dc.png"/>
            <img width="185px" height="100px" src="imagenes/garc.jpg"/>
            <img width="185px" height="100px" src="imagenes/vet.jpg"/>
            <img width="185px" height="100px" src="imagenes/arqui.jpg"/>
            <img width="185px" height="100px" src="imagenes/adies.jpg"/>
            <img width="185px" height="100px" src="imagenes/audiocuentos1.jpg"/>
            <img width="185px" height="100px" src="imagenes/buscadores.jpg"/>

        </div>   
        <div id="nuestrosServicios">
            <h1>NUESTROS SERVICIOS</h1>
            <hr>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum veritatis magnam sequi neque quae amet minus recusandae, quia, nisi eligendi tempora. Tempore voluptatem praesentium unt id!</p>
            <!--            <img width="12px" height="80px"  src="imagenes/h1.png" />
                        <img width="125px" height="80px" src="imagenes/h2.png"/>
                        <img width="125px" height="80px" src="imagenes/h3.png"/>
                        <img width="125px" height="80px" src="imagenes/linkedin.png"/>
                        <img width="125px" height="80px" src="imagenes/logo.png"/>
                        <img width="125px" height="80px" src="imagenes/swb.png"/>
                        <img width="125px" height="80px" src="imagenes/p1.png"/>
                        <img width="125px" height="80px" src="imagenes/st3.png"/>
                        <img width="125px" height="80px" src="imagenes/st2.png"/>
                        <img width="125px" height="80px" src="imagenes/st.png"/>
                        <img width="125px" height="80px" src="imagenes/turismo.jpg"/>
                        <img width="125px" height="80px" src="imagenes/WEB1.png"/>
                        <img width="125px" height="80px" src="imagenes/WEBS.png"/>-->
        </div> 
        <div id="envianosTuConsulta">
            <h1>ENVIANOS TU CONSULTA</h1>
            <hr>
            <br>
            <form>
                <fieldset>
                    <p>Nombre y Apellido*</p>
                    <input type="text" required>
                    <p>Email*</p>
                    <input type="email" required>
                    <p>Tema/Motivo*</p>
                    <input type="text" required>
                    <p>Tu consulta aquí*</p>
                    <textarea cols=30 rows=8 maxlength="300"></textarea>
                    <br>
                </fieldset>
                <button>Enviar</button>
            </form>

        </div> 
    </div>
</body>